```{=html}
<ul class="list ps-3 mb-1" style="list-style: disc;">
  <% for (const item of items) { %>
    <li class="mb-3" <%= metadataAttrs(item) %>>
      <div class="listing-title">
        <b><a href="<%- item.path %>"><%= item.title %></a></b>
        <span class="listing-date small mt-1">
          (<%= item.date %>)
        </span>
      </div>
      <div class="listing-description small mt-1">
        <%= item.description %>
        <span class="listing-meta text-muted">
          <% if (item.categories && item.categories.length > 0) { %>
            • <span class="listing-categories">
              <% item.categories.forEach((cat, i) => { %>
                <span class="listing-category" onclick="window.quartoListingCategory('<%=utils.b64encode(cat)%>'); return false;" style="cursor: pointer;"><%= cat %></span><% if (i < item.categories.length - 1) { %>, <% } %>
                <% }) %>
              </span>
              <% } %>
          <% if (item['word-count']) { %> • <%= item['word-count'] %><% } %>
        </span>
      </div>
    </li>
  <% } %>
</ul>
```
