```{=html}
<ul class="list" style="line-height: 1.2;">
  <% for (const item of items) { %>
    <li class="list-item" style="margin-bottom: -10px;" <%=metadataAttrs(item) %>>
      <%= item.title %> (<%= item.authors %>, <%= item.date %>) <a href="<%= item.path %>"><%= item.source %></a>
      <% if(item.description) { %>
        <details>
          <summary>Abstract</summary>
          <div class="listing-abstract">
            <%= item.description %>
          </div>
        </details>
      <% } %>
    </li>
  <% } %>
</ul>
```
