```{=html}
<ul class="list">
    <% for (const item of items) { %>
        <li class="list-item" <%=metadataAttrs(item) %>>
            <div class="listing-name">
                <%= item.authors %> (<%= item.date %>): <i><%= item.title %></i>. <a href="<%- item.url %>"><%= item.outlet %></a>.
            </div>
            <% if(item.categories) { %>
                <div class="listing-categories">
                    <i class="fa-solid fa-tags"></i>
                    <%= item.categories.join(", ") %>
                </div>
            <% } %>
            <div class="listing-extras" style="font-size:0.9em;">
                [<% if (item.doi != "NA") { %>
                    <i class="ai ai-doi" style="font-size:0.8em;"></i>
                    <a href="https://doi.org/<%- item.doi %>">Publication</a>
                <% } else { %>
                    <i class="fa-solid fa-globe" style="font-size:0.8em;"></i>
                    <a href="<%- item.url %>">link</a>
                <% } %>
                <% if (item.file != "NA") { %>
                    (<i class="fa-solid fa-file-pdf" style="font-size:0.8em;"></i> <a href="<%- item.file %>">PDF</a>)
                <% } %>
                <% if (item.preprint) { %>
                    | <i class="ai ai-doi" style="font-size:0.8em;"></i> <a href="<%- item.preprint %>">Preprint</a>
                    <% } %>
                <% if (item.data) { %>
                    | <i class="fa-solid fa-chart-simple" style="font-size:0.8em;"></i> <a href="<%- item.data %>">Data</a>
                <% } %>
                <% if (item.code) { %>
                    | <i class="fa-solid fa-code" style="font-size:0.8em;"></i> <a href="<%- item.code %>">Code</a>
                <% } %>]
            </div>
            <% if(item.abstract) { %>
                <details>
                    <summary>Abstract</summary>
                    <div class="listing-abstract">
                        <%= item.abstract %>
                    </div>
                </details>
            <% } %>
        </li>
    <% } %>
</ul>
```
