```{=html}
<ul class="list">
    <% for (const item of items) { %>
        <li <%=metadataAttrs(item) %>>
            <div class="listing-name">
                <%= item.author %> (<%= item.date %>): <i><%= item.name %></i>. <a href="<%- item.url %>"><%= item.outlet %></a>.
            </div>
            <% if(item.categories) { %>
                <div class="listing-categories">
                    <i class="fa-solid fa-tags"></i>
                    <%= item.categories.join(", ") %>
                </div>
            <% } %>
            <div class="listing-extras">
                [<% if (item.doi != "NA") { %>
                    <i class="ai ai-doi"></i>
                    <a href="https://doi.org/<%- item.doi %>"><%= item.doi %></a>
                <% } else { %>
                    <i class="fa-solid fa-globe"></i>
                    <a href="<%- item.url %>">link</a>
                <% } %>
                <% if (item.file != "NA") { %>
                    | <i class="fa-solid fa-file-pdf"></i> <a href="<%- item.file %>">Paper</a>
                <% } %>
                <% if (item.data != "NA") { %>
                    | <i class="fa-solid fa-chart-simple"></i> <a href="<%- item.data %>">Data</a>
                <% } %>
                <% if (item.code != "NA" ) { %>
                    | <i class="fa-solid fa-code"></i> <a href="<%- item.code %>">Code</a>
                <% } %>]
            </div>
            <% if(item.abstract) { %>
                <details>
                    <summary>Abstract</summary>
                    <div class="listing-abstract">
                        <%= item.abstract %>
                    </div>
                </details>
            <% } %>
        </li>
    <% } %>
</ul>
```
